<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="MvvmLight" version="5.4.1.1" targetFramework="net461" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.8.3.37" targetFramework="net461" />
  <package id="SQLite" version="3.13.0" targetFramework="net461" />
  <package id="Sqlite.Interop.Net46.x64" version="1.0.109" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.109.2" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.109.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.109.0" targetFramework="net461" />
</packages>